In [3]:
import arcpy
import numpy as np
import pandas as pd

In [145]:
arcpy.env.workspace = "C:\\Users\\dtian2\\Documents\\ArcGIS\\Projects\\Topkriging1\\Topkriging2.gdb"

In [69]:
# reload the table 

table = "C:\\Users\\dtian2\\Documents\\ArcGIS\\Projects\\Topkriging1\\Topkriging2.gdb\\meas"
title = ('ID','I','J','Area_i','Area_j','Meas','f_ij','f_ii','f_jj','reg_f','nugget','reg_var')
var_np = arcpy.da.TableToNumPyArray(table, title)
var = pd.DataFrame.from_records(var_np)

In [146]:
var.head(10)

   ID    I     J      Area_i  ...        nugget       reg_var         inf        cov
0   1  1.0   1.0  104.485128  ... -6.938894e-18 -6.938894e-18   -0.059784  -0.059784
1   2  1.0   2.0  104.485128  ...  9.588106e-03 -2.373717e-01   -0.543951  -0.296991
2   3  1.0   3.0  104.485128  ...  9.512050e-02 -2.805387e+02 -289.187870  -8.554100
3   4  1.0   4.0  104.485128  ...  5.794637e-04  2.472246e-03   -0.059547  -0.061440
4   5  1.0   5.0  104.485128  ...  3.988192e+00 -2.475626e+02 -258.487358  -6.936534
5   6  1.0   6.0  104.485128  ...  1.231761e-02 -2.286985e-01   -0.512495  -0.271479
6   7  1.0   7.0  104.485128  ...  2.321331e-02 -6.122270e+00   -7.258727  -1.113243
7   8  1.0   8.0  104.485128  ...  1.578361e-01 -2.596506e+02 -270.362159 -10.553753
8   9  1.0   9.0  104.485128  ...  7.639607e-03 -9.572738e-02   -0.553214  -0.449847
9  10  1.0  10.0  104.485128  ...  1.660373e-02 -1.976802e-01   -0.498325  -0.284041

[10 rows x 14 columns]

# generate the table

In [6]:
var = pd.DataFrame(np.zeros([47*47,12], dtype = float),
                   columns = ['ID','I','J','Area_i','Area_j','Meas','f_ij','f_ii','f_jj','reg_f','nugget','reg_var'])

# ID
var.loc[:,'ID'] = range(1,47*47+1)

# I & J
i = 0
a = 0
for i in range(1,48):
    j = 1
    for j in range(1,48):
        var.loc[a,'I'] = i
        var.loc[a,'J'] = j
        a += 1
        j += 1
    i += 1
    
var.head()

   ID    I    J  Area_i  Area_j  Meas  f_ij  f_ii  f_jj  reg_f  nugget  reg_var
0   1  1.0  1.0     0.0     0.0   0.0   0.0   0.0   0.0    0.0     0.0      0.0
1   2  1.0  2.0     0.0     0.0   0.0   0.0   0.0   0.0    0.0     0.0      0.0
2   3  1.0  3.0     0.0     0.0   0.0   0.0   0.0   0.0    0.0     0.0      0.0
3   4  1.0  4.0     0.0     0.0   0.0   0.0   0.0   0.0    0.0     0.0      0.0
4   5  1.0  5.0     0.0     0.0   0.0   0.0   0.0   0.0    0.0     0.0      0.0

#  Area and Meas

In [7]:
# Area_i, Area_j

a = [row[0] for row in arcpy.da.SearchCursor("observation", "Area")]

for i in range(47):
    var.loc[var['I'] == i+1, 'Area_i'] = a[i]
    var.loc[var['J'] == i+1, 'Area_j'] = a[i]
    
var.head()

   ID    I    J      Area_i      Area_j  ...  f_ii  f_jj  reg_f  nugget  reg_var
0   1  1.0  1.0  104.485128  104.485128  ...   0.0   0.0    0.0     0.0      0.0
1   2  1.0  2.0  104.485128   60.145781  ...   0.0   0.0    0.0     0.0      0.0
2   3  1.0  3.0  104.485128    3.994865  ...   0.0   0.0    0.0     0.0      0.0
3   4  1.0  4.0  104.485128  125.197986  ...   0.0   0.0    0.0     0.0      0.0
4   5  1.0  5.0  104.485128    0.091852  ...   0.0   0.0    0.0     0.0      0.0

[5 rows x 12 columns]

In [8]:
# Meas 
arcpy.Copy_management("observation", "observationCopy")

for i in range(47):
    for j in range(47):
        
        area1 = arcpy.management.SelectLayerByAttribute("observation", "NEW_SELECTION", "OBJECTID = {}".format(i+1)) # OID = I

        area2 = arcpy.management.SelectLayerByAttribute("observationCopy", "NEW_SELECTION", "OBJECTID = {}".format(j+1)) # OID = J

        arcpy.analysis.TabulateIntersection(area1, "OBJECTID", area2, "intersect_{}_{}".format(i+1,j+1), "OBJECTID", "Area")

        intersect = "intersect_{}_{}".format(i+1,j+1)
        a = [row[0] for row in arcpy.da.SearchCursor(intersect, "Area")]
        
        if len(a) == 0:
            var.loc[(var['I'] == i+1) & (var['J'] == j+1), 'Meas'] = 0
        else:
            var.loc[(var['I'] == i+1) & (var['J'] == j+1), 'Meas'] = a[0]

In [10]:
# save to table 

var_np = var.to_records()
table = "C:\\Users\\DTian\\Documents\\ArcGIS\\Projects\\Topkriging1\\Topkriging1.gdb\\meas"
arcpy.da.NumPyArrayToTable(var_np,table)

# Read an attribute table as data frame

In [14]:

## not useful here

in_table = "C:\\Users\\DTian\\Documents\\ArcGIS\\Projects\\Topkriging1\\Topkriging1.gdb\\observation"

# to excel

out_xls = "C:\\Users\\DTian\\Documents\\ArcGIS\\Projects\\Topkriging1\\observation.xls"
arcpy.TableToExcel_conversion(in_table, out_xls)


# import as pandas dataframe

df = pd.read_excel(out_xls)
df.head()

   OBJECTID  site_no  ...   Shape_Length    Shape_Area
0         1  8068720  ...  413725.460571  2.905130e+09
1         2  8072300  ...  323807.053637  1.672727e+09
2         3  8068300  ...   68630.753305  1.110274e+08
3         4  8068740  ...  525512.130271  3.481041e+09
4         5  8067750  ...   10524.700701  2.552516e+06

[5 rows x 14 columns]

# Select discrete points

In [36]:
# select discrete points

for i in range(1,48):
    shed = arcpy.management.SelectLayerByAttribute("observation", "NEW_SELECTION", "OBJECTID = {}".format(i))
    
    arcpy.management.CopyFeatures(shed, "shed_{}".format(i))
    
    a = [row[0] for row in arcpy.da.SearchCursor("shed_{}".format(i), "Area")]
    area = a[0]
    
    if area >= 300:
        pnt = arcpy.management.SelectLayerByLocation("fishnet1_label", "WITHIN", "shed_{}".format(i))
    elif area >= 100:
        pnt = arcpy.management.SelectLayerByLocation("fishnet2_label", "WITHIN", "shed_{}".format(i))
    elif area >= 20:
        pnt = arcpy.management.SelectLayerByLocation("fishnet3_label", "WITHIN", "shed_{}".format(i))
    elif area >= 4:
        pnt = arcpy.management.SelectLayerByLocation("fishnet4_label", "WITHIN", "shed_{}".format(i))
    else:
        pnt = arcpy.management.SelectLayerByLocation("fishnet5_label", "WITHIN", "shed_{}".format(i))
    
    arcpy.management.CopyFeatures(pnt,"pnt_{}".format(i))

# Calculate variance

In [147]:
location = "C:\\Users\\dtian2\\Documents\\ArcGIS\\Projects\\Topkriging1\\Topkriging2.gdb"

In [149]:
#  generate near table

for i in range(1,48):
    for j in range(1,48):
        
        # generate near table
        arcpy.analysis.GenerateNearTable("pnt_{}".format(i), "pnt_{}".format(j), 
                                              "near_{}_{}".format(i,j), closest = "ALL")
        
        # calculate point variance         
        tb = "near_{}_{}".format(i,j)
        arcpy.management.AddField(tb, "f_d", "DOUBLE")
        arcpy.management.CalculateField(tb, "f_d", 
                                        "0.7320 + 1.23 * (1 - math.exp(-!NEAR_DIST!/300000))", 
                                        "PYTHON3")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 19)

In [150]:
#  f(h) 

for i in range(1,48):
    for j in range(1,48):
        
        tb = "near_{}_{}".format(i,j)

        # calculate f_ij
        arcpy.analysis.Statistics(tb, "mean_{}_{}".format(i,j), [["f_d", "MEAN"]])
        stats = "mean_{}_{}".format(i,j)
        a = [row[0] for row in arcpy.da.SearchCursor(stats, "MEAN_f_d")]
        if len(a) == 0:
            var.loc[(var['I'] == i) & (var['J'] == j), 'f_ij'] = 0
        else:
            var.loc[(var['I'] == i) & (var['J'] == j), 'f_ij'] = a[0]
        
        # f_ii & f_jj
        if i == j:
            var.loc[var['I'] == i, 'f_ii'] = a[0]
            var.loc[var['J'] == i, 'f_jj'] = a[0]
            
        
            
# save to csv 

var.to_csv("C:\\Users\\dtian2\\Documents\\ArcGIS\\Projects\\Topkriging1\\variance",  sep='\t')

ExecuteError: Failed to execute. Parameters are not valid.
ERROR 000732: Input Table: Dataset near_1_1 does not exist or is not supported
Failed to execute (Statistics).

'near_1_1'

In [105]:
# regularised semivariance

var.reg_f = var.f_ij/(var.Area_i*var.Area_j) - 0.5 * (var.f_ii/var.Area_i**2 + var.f_jj/var.Area_j**2)

var.nugget = 0.5 * (0.7320/var.Area_i + 0.7320/var.Area_j - 2*0.7320*var.Meas/(var.Area_i*var.Area_j))

var.reg_var = var.reg_f + var.nugget
var.head()

   ID    I    J  ...       reg_f        nugget       reg_var
0   1  1.0  1.0  ...    0.000000 -6.938894e-18 -6.938894e-18
1   2  1.0  2.0  ...   -0.246960  9.588106e-03 -2.373717e-01
2   3  1.0  3.0  ... -280.633771  9.512050e-02 -2.805387e+02
3   4  1.0  4.0  ...    0.001893  5.794637e-04  2.472246e-03
4   5  1.0  5.0  ... -251.550823  3.988192e+00 -2.475626e+02

[5 rows x 12 columns]

In [108]:
# save to table 

var_np = var.to_records()
table = "C:\\Users\\dtian2\\Documents\\ArcGIS\\Projects\\Topkriging1\\Topkriging2.gdb\\reg_var"
arcpy.da.NumPyArrayToTable(var_np,table)

In [136]:
var['inf'] = (1.962*20) / (var.Area_i*var.Area_j) - 0.5 * (var.f_ii/var.Area_i**2 + var.f_jj/var.Area_j**2)

var['cov'] = var.inf + var.nugget - var.reg_var

In [142]:
var.tail()

        ID     I     J  ...       reg_var       inf       cov
2204  2205  47.0  43.0  ...  1.722286e-02 -0.064720 -0.076930
2205  2206  47.0  44.0  ... -1.219095e-02 -0.038009 -0.024017
2206  2207  47.0  45.0  ... -1.221775e-02 -0.037361 -0.022266
2207  2208  47.0  46.0  ... -1.183536e-02 -0.036879 -0.022011
2208  2209  47.0  47.0  ... -1.387779e-17 -0.069523 -0.069523

[5 rows x 14 columns]

In [139]:
# save to table 

var_np = var.to_records()
table = "C:\\Users\\dtian2\\Documents\\ArcGIS\\Projects\\Topkriging1\\Topkriging2.gdb\\covariance"
arcpy.da.NumPyArrayToTable(var_np,table)

In [143]:
# save to csv

var.to_csv("C:\\Users\\dtian2\\Documents\\ArcGIS\\Projects\\Topkriging1\\covariance",  sep='\t')

# copy to Topkriging2.gdb

In [1]:
arcpy.env.workspace = "C:\\Users\\dtian2\\Documents\\ArcGIS\\Projects\\Topkriging1\\Topkriging1.gdb"

In [7]:
location = "C:\\Users\\dtian2\\Documents\\ArcGIS\\Projects\\Topkriging1\\Tookriging3.gdb"

In [4]:
tables = arcpy.ListTables("near_*", "ALL")

In [5]:
for table in tables: 
    print(table)

near_1_2
near_1_3
near_1_4
near_1_5
near_1_6
near_1_7
near_1_8
near_1_9
near_1_10
near_1_11
near_1_12
near_1_13
near_1_14
near_1_15
near_1_16
near_1_17
near_1_18
near_1_19
near_1_20
near_1_21
near_1_22
near_1_23
near_1_24
near_1_25
near_1_26
near_1_27
near_1_28
near_1_29
near_1_30
near_1_31
near_1_32
near_1_33
near_1_34
near_1_35
near_1_36
near_1_37
near_1_38
near_1_39
near_1_40
near_1_41
near_1_42
near_1_43
near_1_44
near_1_45
near_1_46
near_2_1
near_2_2
near_2_3
near_2_4
near_2_5
near_2_6
near_2_7
near_2_8
near_2_9
near_2_10
near_2_11
near_2_12
near_2_13
near_2_14
near_2_15
near_2_16
near_2_17
near_2_18
near_2_19
near_2_20
near_2_21
near_2_22
near_2_23
near_2_24
near_2_25
near_2_26
near_2_27
near_2_28
near_2_29
near_2_30
near_2_31
near_2_32
near_2_33
near_2_34
near_2_35
near_2_36
near_2_37
near_2_38
near_2_39
near_2_40
near_2_41
near_2_42
near_2_43
near_2_44
near_2_45
near_2_46
near_3_1
near_3_2
near_3_3
near_3_4
near_3_5
near_3_6
near_3_7
near_3_8
near_3_9
near_3_10
near_3_11
near_3_12
near_3_13
near_3_14
near_3_15
near_3_16
near_3_17
near_3_18
near_3_19
near_3_20
near_3_21
near_3_22
near_3_23
near_3_24
near_3_25
near_3_26
near_3_27
near_3_28
near_3_29
near_3_30
near_3_31
near_3_32
near_3_33
near_3_34
near_3_35
near_3_36
near_3_37
near_3_38
near_3_39
near_3_40
near_3_41
near_3_42
near_3_43
near_3_44
near_3_45
near_3_46
near_4_1
near_4_2
near_4_3
near_4_4
near_4_5
near_4_6
near_4_7
near_4_8
near_4_9
near_4_10
near_4_11
near_4_12
near_4_13
near_4_14
near_4_15
near_4_16
near_4_17
near_4_18
near_4_19
near_4_20
near_4_21
near_4_22
near_4_23
near_4_24
near_4_25
near_4_26
near_4_27
near_4_28
near_4_29
near_4_30
near_4_31
near_4_32
near_4_33
near_4_34
near_4_35
near_4_36
near_4_37
near_4_38
near_4_39
near_4_40
near_4_41
near_4_42
near_4_43
near_4_44
near_4_45
near_4_46
near_5_1
near_5_2
near_5_3
near_5_4
near_5_5
near_5_6
near_5_7
near_5_8
near_5_9
near_5_10
near_5_11
near_5_12
near_5_13
near_5_14
near_5_15
near_5_16
near_5_17
near_5_18
near_5_19
near_5_20
near_5_21
near_5_22
near_5_23
near_5_24
near_5_25
near_5_26
near_5_27
near_5_28
near_5_29
near_5_30
near_5_31
near_5_32
near_5_33
near_5_34
near_5_35
near_5_36
near_5_37
near_5_38
near_5_39
near_5_40
near_5_41
near_5_42
near_5_43
near_5_44
near_5_45
near_5_46
near_6_1
near_6_2
near_6_3
near_6_4
near_6_5
near_6_6
near_6_7
near_6_8
near_6_9
near_6_10
near_6_11
near_6_12
near_6_13
near_6_14
near_6_15
near_6_16
near_6_17
near_6_18
near_6_19
near_6_20
near_6_21
near_6_22
near_6_23
near_6_24
near_6_25
near_6_26
near_6_27
near_6_28
near_6_29
near_6_30
near_6_31
near_6_32
near_6_33
near_6_34
near_6_35
near_6_36
near_6_37
near_6_38
near_6_39
near_6_40
near_6_41
near_6_42
near_6_43
near_6_44
near_6_45
near_6_46
near_7_1
near_7_2
near_7_3
near_7_4
near_7_5
near_7_6
near_7_7
near_7_8
near_7_9
near_7_10
near_7_11
near_7_12
near_7_13
near_7_14
near_7_15
near_7_16
near_7_17
near_7_18
near_7_19
near_7_20
near_7_21
near_7_22
near_7_23
near_7_24
near_7_25
near_7_26
near_7_27
near_7_28
near_7_29
near_7_30
near_7_31
near_7_32
near_7_33
near_7_34
near_7_35
near_7_36
near_7_37
near_7_38
near_7_39
near_7_40
near_7_41
near_7_42
near_7_43
near_7_44
near_7_45
near_7_46
near_8_1
near_8_2
near_8_3
near_8_4
near_8_5
near_8_6
near_8_7
near_8_8
near_8_9
near_8_10
near_8_11
near_8_12
near_8_13
near_8_14
near_8_15
near_8_16
near_8_17
near_8_18
near_8_19
near_8_20
near_8_21
near_8_22
near_8_23
near_8_24
near_8_25
near_8_26
near_8_27
near_8_28
near_8_29
near_8_30
near_8_31
near_8_32
near_8_33
near_8_34
near_8_35
near_8_36
near_8_37
near_8_38
near_8_39
near_8_40
near_8_41
near_8_42
near_8_43
near_8_44
near_8_45
near_8_46
near_9_1
near_9_2
near_9_3
near_9_4
near_9_5
near_9_6
near_9_7
near_9_8
near_9_9
near_9_10
near_9_11
near_9_12
near_9_13
near_9_14
near_9_15
near_9_16
near_9_17
near_9_18
near_9_19
near_9_20
near_9_21
near_9_22
near_9_23
near_9_24
near_9_25
near_9_26
near_9_27
near_9_28
near_9_29
near_9_30
near_9_31
near_9_32
near_9_33
near_9_34
near_9_35
near_9_36
near_9_37
near_9_38
near_9_39
near_9_40
near_9_41
near_9_42
near_9_43
near_9_44
near_9_45
near_9_46
near_10_1
near_10_2
near_10_3
near_10_4
near_10_5
near_10_6
near_10_7
near_10_8
near_10_9
near_10_10
near_10_11
near_10_12
near_10_13
near_10_14
near_10_15
near_10_16
near_10_17
near_10_18
near_10_19
near_10_20
near_10_21
near_10_22
near_10_23
near_10_24
near_10_25
near_10_26
near_10_27
near_10_28
near_10_29
near_10_30
near_10_31
near_10_32
near_10_33
near_10_34
near_10_35
near_10_36
near_10_37
near_10_38
near_10_39
near_10_40
near_10_41
near_10_42
near_10_43
near_10_44
near_10_45
near_10_46
near_11_1
near_11_2
near_11_3
near_11_4
near_11_5
near_11_6
near_11_7
near_11_8
near_11_9
near_11_10
near_11_11
near_11_12
near_11_13
near_11_14
near_11_15
near_11_16
near_11_17
near_11_18
near_11_19
near_11_20
near_11_21
near_11_22
near_11_23
near_11_24
near_11_25
near_11_26
near_11_27
near_11_28
near_11_29
near_11_30
near_11_31
near_11_32
near_11_33
near_11_34
near_11_35
near_11_36
near_11_37
near_11_38
near_11_39
near_11_40
near_11_41
near_11_42
near_11_43
near_11_44
near_11_45
near_11_46
near_12_1
near_12_2
near_12_3
near_12_4
near_12_5
near_12_6
near_12_7
near_12_8
near_12_9
near_12_10
near_12_11
near_12_12
near_12_13
near_12_14
near_12_15
near_12_16
near_12_17
near_12_18
near_12_19
near_12_20
near_12_21
near_12_22
near_12_23
near_12_24
near_12_25
near_12_26
near_12_27
near_12_28
near_12_29
near_12_30
near_12_31
near_12_32
near_12_33
near_12_34
near_12_35
near_12_36
near_12_37
near_12_38
near_12_39
near_12_40
near_12_41
near_12_42
near_12_43
near_12_44
near_12_45
near_12_46
near_13_1
near_13_2
near_13_3
near_13_4
near_13_5
near_13_6
near_13_7
near_13_8
near_13_9
near_13_10
near_13_11
near_13_12
near_13_13
near_13_14
near_13_15
near_13_16
near_13_17
near_13_18
near_13_19
near_13_20
near_13_21
near_13_22
near_13_23
near_13_24
near_13_25
near_13_26
near_13_27
near_13_28
near_13_29
near_13_30
near_13_31
near_13_32
near_13_33
near_13_34
near_13_35
near_13_36
near_13_37
near_13_38
near_13_39
near_13_40
near_13_41
near_13_42
near_13_43
near_13_44
near_13_45
near_13_46
near_14_1
near_14_2
near_14_3
near_14_4
near_14_5
near_14_6
near_14_7
near_14_8
near_14_9
near_14_10
near_14_11
near_14_12
near_14_13
near_14_14
near_14_15
near_14_16
near_14_17
near_14_18
near_14_19
near_14_20
near_14_21
near_14_22
near_14_23
near_14_24
near_14_25
near_14_26
near_14_27
near_14_28
near_14_29
near_14_30
near_14_31
near_14_32
near_14_33
near_14_34
near_14_35
near_14_36
near_14_37
near_14_38
near_14_39
near_14_40
near_14_41
near_14_42
near_14_43
near_14_44
near_14_45
near_14_46
near_15_1
near_15_2
near_15_3
near_15_4
near_15_5
near_15_6
near_15_7
near_15_8
near_15_9
near_15_10
near_15_11
near_15_12
near_15_13
near_15_14
near_15_15
near_15_16
near_15_17
near_15_18
near_15_19
near_15_20
near_15_21
near_15_22
near_15_23
near_15_24
near_15_25
near_15_26
near_15_27
near_15_28
near_15_29
near_15_30
near_15_31
near_15_32
near_15_33
near_15_34
near_15_35
near_15_36
near_15_37
near_15_38
near_15_39
near_15_40
near_15_41
near_15_42
near_15_43
near_15_44
near_15_45
near_15_46
near_16_1
near_16_2
near_16_3
near_16_4
near_16_5
near_16_6
near_16_7
near_16_8
near_16_9
near_16_10
near_16_11
near_16_12
near_16_13
near_16_14
near_16_15
near_16_16
near_16_17
near_16_18
near_16_19
near_16_20
near_16_21
near_16_22
near_16_23
near_16_24
near_16_25
near_16_26
near_16_27
near_16_28
near_16_29
near_16_30
near_16_31
near_16_32
near_16_33
near_16_34
near_16_35
near_16_36
near_16_37
near_16_38
near_16_39
near_16_40
near_16_41
near_16_42
near_16_43
near_16_44
near_16_45
near_16_46
near_17_1
near_17_2
near_17_3
near_17_4
near_17_5
near_17_6
near_17_7
near_17_8
near_17_9
near_17_10
near_17_11
near_17_12
near_17_13
near_17_14
near_17_15
near_17_16
near_17_17
near_17_18
near_17_19
near_17_20
near_17_21
near_17_22
near_17_23
near_17_24
near_17_25
near_17_26
near_17_27
near_17_28
near_17_29
near_17_30
near_17_31
near_17_32
near_17_33
near_17_34
near_17_35
near_17_36
near_17_37
near_17_38
near_17_39
near_17_40
near_17_41
near_17_42
near_17_43
near_17_44
near_17_45
near_17_46
near_18_1
near_18_2
near_18_3
near_18_4
near_18_5
near_18_6
near_18_7
near_18_8
near_18_9
near_18_10
near_18_11
near_18_12

In [ ]:
for table in tables: 
    # Copy the features from the workspace to a folder
    arcpy.TableToGeodatabase_conversion(table, location)